 {% section 'header' %}
  
   <div class="mega-menu-container">
      {% if settings.mega_menu_1 %}
      {% section 'mega-menu-1' %}
      {% endif %}

      {% if settings.mega_menu_1 %}
      {% section 'mega-menu-2' %}
      {% endif %}

      {% if settings.mega_menu_1 %}
      {% section 'mega-menu-3' %}
      {% endif %}
    </div>